# Arquivos gerados pelo sistema operacional
.DS_Store

# Arquivos de log e saída de teste
logs/
*.log

# Dependências instaladas via npm
node_modules/

# Arquivos de build
dist/
build/
*.zip
.hintrc
hintrc/
script.teste.js