body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #212121;
  color: #E0E0E0;
}

.sidebar {
  width: 15%;
  padding: 20px;
  background-color: #171717;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.212);
}


.sidebar img {
  display: block;
  margin: 0 auto;
  width: 20%;
}


.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  color: #07ffde;
  text-transform: uppercase;
}

.sidebar label {
  margin-top: 10px;
  color: whitesmoke;
  text-align: justify;
}

.sidebar input[type="number"] {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2E2E2E;
  color: #E0E0E0;
  border: 0.1em solid #ccc;
}

.main-content {
  margin-left: 18%;
  width: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  font-family: "Ubuntu", sans-serif;
}

.main-content.hidden {
  display: none;
}

.main-content h1 {
  font-weight: 700;
  color: whitesmoke;
}

.content {
  overflow-y: auto;
  text-align: center;
  justify-content: justify;
}

i {
  width: 10px;
  justify-content: center;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #424242;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: #E0E0E0;
}

th {
  background-color: #333333;
  color: #E0E0E0;
}

tbody tr:hover {
  background-color: #424242;
  cursor: pointer;
}

.invalid-item {
  background-color: #f94f4f52;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.file-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.file-upload-label input {
  display: none;
}

.file-upload-label svg {
  height: 40px;
  fill: #B0B0B0;
  margin-bottom: 5px;
}

.file-upload-label {
  width: 250px;
  cursor: pointer;
  background-color: #333333;
  padding: 20px;
  border-radius: 12px;
  border: 0.1em dashed #B0B0B0;
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}

.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.browse-button {
  background-color: #B0B0B0;
  padding: 5px 15px;
  border-radius: 10px;
  color: #121212;
  transition: all 0.3s;
}

.browse-button:hover {
  background-color: #909090;
}

/* Personalizando a barra de rolagem para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #1E1E1E;
  /* Cor da trilha da barra de rolagem */
  border-radius: 10px;
  /* Borda arredondada da trilha */
}

/* Modal de carregamento */
.loading-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  color: #E0E0E0;
}

.loading-modal .loading-text {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

/* Loader */
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }

  50% {
    transform: rotate(360deg) scale(1.2);
  }

  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

/* Esconder o modal de carregamento */
.hidden {
  display: none;
}

/* Estilo para o botão com ícone no canto superior direito */
.clear-button-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
}

.clear-button-icon:hover {
  opacity: 0.8;
}

.clear-button-icon svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.hidden {
  display: none;
}